config/.config/fish/completions/fisher.fish
config/.config/fish/conf.d/thefuck.init.fish
config/.config/fish/conf.d/z.fish
config/.config/fish/functions/__bobthefish_colors.fish
config/.config/fish/functions/__bobthefish_display_colors.fish
config/.config/fish/functions/__bobthefish_glyphs.fish
config/.config/fish/functions/__tf_updt.fish
config/.config/fish/functions/__z_add.fish
config/.config/fish/functions/__z_clean.fish
config/.config/fish/functions/__z_complete.fish
config/.config/fish/functions/__z.fish
config/.config/fish/functions/bobthefish_display_colors.fish
config/.config/fish/functions/thefuck-command-line.fish
config/.config/fish/functions/fisher.fish
config/.config/fish/functions/z.awk
config/.config/fish/functions/zadd.awk
config/.config/fish/functions/zclean.awk
config/.config/fish/fishd.784f439b3eb9
config/.config/fisherman
config/.config/thefuck
vim/.vim/autoload
vim/.vim/plugged
hammerspoon/.hammerspoon/Spoons/TextClipboardHistory.spoon
